/* Form.css */

.form-container {
  max-width: 600px;
  margin: 150px auto 0; /* Add margin-top of 20px */
  padding: 20px;
  border: 0.5px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formHeader {
  text-align: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(255, 132, 124, 1);
}

.form-field {
  margin-bottom: 20px;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="file"] {
  width: 100%;
  align-items: center;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: solid 1px #000;
}

a {
  text-decoration: none;
  color: rgba(255, 132, 124, 1);
}

button {
  background-color: rgba(255, 132, 124, 1);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}
